<h1>Welcome to Kiddoy</h1>

<h3>Kiddoy Bulletin</h3>
  
<% @bulletins.each do |bulletin| %>
    <table class="table table-striped">
      <tr>
           <th style="width:20%">Topic</th>
           <th style="width:10%">Date</th>
           <th style="width:70%">Content</th>
      </tr>
         
      <tr>
               <td><%= bulletin.topic %></td>
               <td><%= bulletin.date %></td>
               <td><%= bulletin.content %></td>

      </tr>
    </table>
<% end %>