h1 {
    color:SlateBlue; 
    text-align: center; 
    font-family:Arial Black; 
    font-size: 30px;
}

label {
    color:SlateBlue; 
    text-align: center; 
    font-family:Arial Black; 
    font-size: 20px;
}
